{% extends 'base_main.html' %}
{% load staticfiles %}
{% block mycss %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/css/home.css' %}">
{% endblock %}
{% block myjs %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/swiper.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'axf/main/js/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="home">
    <div class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
        {% for wheel in wheels %}
            <div class="swiper-slide">
                <a href="#"><img src="{{ wheel.img }}" alt="{{ wheel.id }}"></a>
            </div>
        {% endfor %}
        </div>
{#        分页器#}
        <div class="swiper-pagination"></div>
    </div>

     <div class="topMenu">
            <nav>
                <ul>
                    {% for nav in navs %}
                        <li><img src="{{ nav.img }}" alt="{{ nav.name }}">
                            <span>{{ nav.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>


    <div class="swiper-container" id="swiperMenu">
    <ul class="swiper-wrapper">
        {% for mustbuy in mustbuys %}
        <li class="swiper-slide">
            <a href="#"><img src="{{ mustbuy.img }}" alt="{{ mustbuy.name }}"></a>
        </li>
        {% endfor %}
    </ul>

</div>
    
{#    #商品展示#}
    <div class="shop_container">
        <h2><img src="{{ shop_goods_1.0.img }}" alt="{{ shop_goods_1.0.name }}"></h2>
        <fieldset>
            {% for shop_good in shop_goods_1_3 %}
            <a href=""><img src="{{ shop_good.img }}" alt="{{ shop_good.name }}"></a>
            {% endfor %}
        </fieldset>

        <ul>
          {% for shop_good in  shop_goods_3_7 %}
            <li><a href="#"><img src="{{ shop_good.img }}" alt="{{ shop_good.name }}"></a></li>
              <span>{{ shop_good.name }}</span>{% endfor %}
        </ul>
        <ol>
            {% for shop_good in  shop_goods_7_11 %}
            <li><a href="#"><img src="{{ shop_good.img }}" alt="{{ shop_good.name }}"></a></li>
        </ol>  {% endfor %}
    </div>

{#    #主要显示#}
 <ul>
            {% for mainshow in mainshows %}
                <li class="mainInfo">
                    <section>
                        <h3>
                            {{ mainshow.name }}
                            <a href="#">更多&gt;</a>
                            <span></span>
                        </h3>

                        <div>
                            <a href="#">
                                <img src="{{ mainshow.img }}" alt="{{ mainshow.name }}">
                            </a>
                        </div>

                        <ul>
                            <li>
                                <a href="#">
                                    <img src="{{ mainshow.img1 }}" alt="{{ mainshow.longname1 }}">
                                    <p class="description">{{ mainshow.longname1 }}</p>
                                    <span>{{ mainshow.price1 }}</span>
                                    <s>{{ mainshow.marketprice1 }}</s>
                                </a>
                                <button>
                                    <span>+</span>
                                </button>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ mainshow.img2 }}" alt="{{ mainshow.longname2 }}">
                                    <p class="description">{{ mainshow.longname2 }}</p>
                                    <span>{{ mainshow.price2 }}</span>
                                    <s>{{ mainshow.marketprice2 }}</s>
                                </a>
                                <button>
                                    <span>+</span>
                                </button>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="{{ mainshow.img3 }}" alt="{{ mainshow.longname3 }}">
                                    <p class="description">{{ mainshow.longname3 }}</p>
                                    <span>{{ mainshow.price3 }}</span>
                                    <s>{{ mainshow.marketprice3 }}</s>
                                </a>
                                <button>
                                    <span>+</span>
                                </button>
                            </li>
                        </ul>
                    </section>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}